<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="~/css/site.css" />
 </head>
 <body>
     <div class="page">
         <div class="header">
             <div class="logo">
                 @*dit is een logo*@
             </div>
             <div class="nav">
                 <ul>
                     <li>
                     <li><a class="@ViewBag.Home" href="/">HOME</a></li>
                     <li><a class="@ViewBag.eten" href="/eten">ETEN</a></li>
                     <li><a class="@ViewBag.Locatie" href="/locatie">LOCATIE</a></li>
                     <li><a class="@ViewBag.Contact" href="/contact">CONTACT</a></li>
                     <li><a class="@ViewBag.Login" href="/login">LOGIN</a></li>
                
                 </ul>
                 
             </div>
         </div>
         <div class="main">
             @RenderBody()
         </div>
         <div class="footer">
             <a>Volg ons op social media</a>
             
         </div>
     </div>
 </body>
</html>
