@model Beaumigo.Models.Person 
@{
        ViewData["Title"] = "Contact";
 }

 <div class="text-center">
   <h1> Contact</h1>
   <p>vul hier ons contactformulier in</p>
   <form method="post" class="contactform">
       <div>
           Voornaam: <input type="text" name="firstname" />
           @Html.ValidationMessageFor(m => m.FirstName)
       </div>
       <div>
           Achternaam: <input type="text" name="lastname" />
           @Html.ValidationMessageFor(m => m.LastName)
       </div>
       <div>
           E-mail: <input type="text" name="email" />
           @Html.ValidationMessageFor(m => m.Email)
       </div>
       <div>
           Telefoon: <input type="text" name="phone" />
       </div>
       <div>
           Adres: <input type="text" name="address" />
       </div>
       <div>
           Bericht: <input type="text" name="message" />
           @Html.ValidationMessageFor(m => m.Message)
       </div>

       <input type="submit" value="opslaan" />
   </form>
     @if(Model!= null)
     {
         <p> Hallo @Model.FirstName die achternaam @Model.LastName heeft  </p>
     }
</div>
